<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="{{ if .IsHome }}is-home{{ else }}page-{{ .Title | urlize }}{{ end }}{{ if .Params.hero_image }} has-hero{{ end }}">
  <div class="site-wrapper">
    {{ partial "header.html" . }}
    <main class="section-main-content">
      <div class="page-content">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
  </div>
  {{ partial "head/js.html" . }}
</body>
</html>
